.homePage {
    background-image: url('https://thumbs-prod.si-cdn.com/P4Smi9MthEBXH7pdW8Y-bvwR6ts=/1072x720/filters:no_upscale()/https://public-media.si-cdn.com/filer/04/8e/048ed839-a581-48af-a0ae-fac6fec00948/gettyimages-168346757_web.jpg');
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    color: #fff; 
}

.pTag {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    border: solid rgb(5, 144, 139);
    font-size: 1.05rem;
    width: 400px;
    padding: 40px;
    margin: 20px;

}